<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tcc.com.br.tea">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.EscolhaSouUmActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.AberturaActivity"/>
        <activity android:name=".ui.activity.CadastroDependenteActivity" />
        <activity android:name=".ui.activity.CadastroMedicoActivity" />
        <activity android:name=".ui.activity.CadastroProfActivity" />
        <activity android:name=".ui.activity.CadastroResponsavelActivity" />
        <activity android:name=".ui.activity.HistoricoCrisePacienteActivity" />
        <activity android:name=".ui.activity.HistoricoCrisesPacienteParaMedico" />
        <activity android:name=".ui.activity.InformacaoAoResponsavelActivity" />
        <activity android:name=".ui.activity.InserirMedicamentoActivity" />
        <activity android:name=".ui.activity.ListaDependenteActivity" />
        <activity android:name=".ui.activity.ListaPacientesMedicoActivity" />
        <activity android:name=".ui.activity.LoginMedicoActivity" />
        <activity android:name=".ui.activity.LoginProfActivity" />
        <activity android:name=".ui.activity.LoginResponsavelActivity" />
        <activity android:name=".ui.activity.MenuDependenteActivity" />
        <activity android:name=".ui.activity.MenuMedicoActivity" />
        <activity android:name=".ui.activity.RecomendacoMedicaActivity" />
        <activity android:name=".ui.activity.RegistrarCriseActivity" />
        <activity android:name=".ui.activity.VerMedicamentoActivity" />
        <activity android:name=".ui.activity.VerRecomendacoesActivity" />
    </application>

</manifest>

<!--    ui.activity.AberturaActivity-->